CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_hiwifi_hc5962=y
CONFIG_ARIA2_BITTORRENT=y
CONFIG_ARIA2_NOXML=y
CONFIG_ARIA2_OPENSSL=y
CONFIG_ARIA2_WEBSOCKET=y
CONFIG_LIBCURL_COOKIES=y
CONFIG_LIBCURL_FILE=y
CONFIG_LIBCURL_FTP=y
CONFIG_LIBCURL_HTTP=y
CONFIG_LIBCURL_NO_SMB="!"
CONFIG_LIBCURL_OPENSSL=y
CONFIG_LIBCURL_PROXY=y
CONFIG_PACKAGE_6in4=m
CONFIG_PACKAGE_SAMBA_MAX_DEBUG_LEVEL=-1
CONFIG_PACKAGE_aria2=m
CONFIG_PACKAGE_ariang=m
CONFIG_PACKAGE_ca-bundle=m
CONFIG_PACKAGE_frpc=m
CONFIG_PACKAGE_ip6tables=m
CONFIG_PACKAGE_ipv6helper=m
CONFIG_PACKAGE_kmod-ipt-nat6=m
CONFIG_PACKAGE_kmod-iptunnel=m
CONFIG_PACKAGE_kmod-iptunnel4=m
CONFIG_PACKAGE_kmod-nf-nat6=m
CONFIG_PACKAGE_kmod-sit=m
CONFIG_PACKAGE_libbz2=m
CONFIG_PACKAGE_libcap=m
CONFIG_PACKAGE_libcurl=m
CONFIG_PACKAGE_libevent2=m
CONFIG_PACKAGE_libexif=m
CONFIG_PACKAGE_libffmpeg-audio-dec=m
CONFIG_PACKAGE_libflac=m
CONFIG_PACKAGE_libid3tag=m
CONFIG_PACKAGE_libjpeg=m
CONFIG_PACKAGE_libogg=m
CONFIG_PACKAGE_libsqlite3=m
CONFIG_PACKAGE_libuv=m
CONFIG_PACKAGE_libvorbis=m
CONFIG_PACKAGE_libwebsockets-full=m
CONFIG_PACKAGE_luci-app-aria2=m
CONFIG_PACKAGE_luci-app-frpc=m
CONFIG_PACKAGE_luci-app-minidlna=m
CONFIG_PACKAGE_luci-app-mwan3=m
CONFIG_PACKAGE_luci-app-mwan3helper=m
CONFIG_PACKAGE_luci-app-samba=m
CONFIG_PACKAGE_luci-app-syncdial=m
CONFIG_PACKAGE_luci-app-transmission=m
CONFIG_PACKAGE_luci-app-ttyd=m
CONFIG_PACKAGE_luci-i18n-aria2-zh-cn=m
CONFIG_PACKAGE_luci-i18n-minidlna-zh-cn=m
CONFIG_PACKAGE_luci-i18n-mwan3-zh-cn=m
CONFIG_PACKAGE_luci-i18n-mwan3helper-zh-cn=m
CONFIG_PACKAGE_luci-i18n-samba-zh-cn=m
CONFIG_PACKAGE_luci-i18n-transmission-zh-cn=m
CONFIG_PACKAGE_luci-i18n-ttyd-zh-cn=m
CONFIG_PACKAGE_luci-proto-ipv6=m
CONFIG_PACKAGE_minidlna=m
CONFIG_PACKAGE_mwan3=m
CONFIG_PACKAGE_odhcp6c=m
CONFIG_PACKAGE_odhcp6c_ext_cer_id=0
CONFIG_PACKAGE_odhcpd-ipv6only=m
CONFIG_PACKAGE_odhcpd_ipv6only_ext_cer_id=0
CONFIG_PACKAGE_samba36-server=m
CONFIG_PACKAGE_transmission-daemon-openssl=m
CONFIG_PACKAGE_transmission-web-control=m
CONFIG_PACKAGE_ttyd=m
CONFIG_SQLITE_FTS3=y
CONFIG_SQLITE_RTREE=y