CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_hc5962=y
CONFIG_ARIA2_BITTORRENT=y
CONFIG_ARIA2_NOXML=y
CONFIG_ARIA2_OPENSSL=y
CONFIG_ARIA2_WEBSOCKET=y
CONFIG_PACKAGE_6in4=y
CONFIG_PACKAGE_NTFS-3G_HAS_PROBE=y
CONFIG_PACKAGE_SAMBA_MAX_DEBUG_LEVEL=-1
CONFIG_PACKAGE_adbyby=y
CONFIG_PACKAGE_aria2=y
CONFIG_PACKAGE_ariang=y
CONFIG_PACKAGE_automount=y
CONFIG_PACKAGE_autosamba=y
CONFIG_PACKAGE_block-mount=y
CONFIG_PACKAGE_boost=y
CONFIG_PACKAGE_boost-date_time=y
CONFIG_PACKAGE_boost-program_options=y
CONFIG_PACKAGE_boost-system=y
CONFIG_PACKAGE_ddns-scripts_aliyun=y
CONFIG_PACKAGE_ddns-scripts_dnspod=y
CONFIG_PACKAGE_frpc=y
CONFIG_PACKAGE_hd-idle=y
CONFIG_PACKAGE_ip-full=y
# CONFIG_PACKAGE_ip-tiny is not set
CONFIG_PACKAGE_iptables-mod-conntrack-extra=y
CONFIG_PACKAGE_iptables-mod-ipopt=y
CONFIG_PACKAGE_ipv6helper=y
CONFIG_PACKAGE_kcptun-client=y
CONFIG_PACKAGE_kmod-crypto-crc32c=y
CONFIG_PACKAGE_kmod-fs-exfat=y
CONFIG_PACKAGE_kmod-fs-ext4=y
CONFIG_PACKAGE_kmod-fs-vfat=y
CONFIG_PACKAGE_kmod-fuse=y
CONFIG_PACKAGE_kmod-ipt-conntrack-extra=y
CONFIG_PACKAGE_kmod-ipt-ipopt=y
CONFIG_PACKAGE_kmod-ipt-nat6=y
CONFIG_PACKAGE_kmod-ipt-raw=y
CONFIG_PACKAGE_kmod-iptunnel4=y
CONFIG_PACKAGE_kmod-lib-crc16=y
CONFIG_PACKAGE_kmod-macvlan=y
CONFIG_PACKAGE_kmod-nf-nat6=y
CONFIG_PACKAGE_kmod-nls-cp437=y
CONFIG_PACKAGE_kmod-nls-iso8859-1=y
CONFIG_PACKAGE_kmod-nls-utf8=y
CONFIG_PACKAGE_kmod-scsi-core=y
CONFIG_PACKAGE_kmod-sit=y
CONFIG_PACKAGE_kmod-usb-printer=y
CONFIG_PACKAGE_kmod-usb-storage=y
CONFIG_PACKAGE_kmod-usb-storage-extras=y
CONFIG_PACKAGE_libcap=y
CONFIG_PACKAGE_libelf=y
CONFIG_PACKAGE_libopenssl-conf=y
CONFIG_PACKAGE_libstdcpp=y
CONFIG_PACKAGE_libuuid=y
CONFIG_PACKAGE_libwebsockets-full=y
CONFIG_PACKAGE_luci-app-adbyby-plus=y
CONFIG_PACKAGE_luci-app-aria2=y
CONFIG_PACKAGE_luci-app-arpbind=y
CONFIG_PACKAGE_luci-app-frpc=y
CONFIG_PACKAGE_luci-app-guest-wifi=y
CONFIG_PACKAGE_luci-app-hd-idle=y
CONFIG_PACKAGE_luci-app-mwan3=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Trojan=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_kcptun=y
CONFIG_PACKAGE_luci-app-samba=y
CONFIG_PACKAGE_luci-app-smartdns=y
CONFIG_PACKAGE_luci-app-syncdial=y
CONFIG_PACKAGE_luci-app-unblockmusic=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-usb-printer=y
CONFIG_PACKAGE_luci-i18n-adbyby-plus-zh-cn=y
CONFIG_PACKAGE_luci-i18n-aria2-zh-cn=y
CONFIG_PACKAGE_luci-i18n-arpbind-zh-cn=y
CONFIG_PACKAGE_luci-i18n-guest-wifi-zh-cn=y
CONFIG_PACKAGE_luci-i18n-hd-idle-zh-cn=y
CONFIG_PACKAGE_luci-i18n-mwan3-zh-cn=y
CONFIG_PACKAGE_luci-i18n-samba-zh-cn=y
CONFIG_PACKAGE_luci-i18n-smartdns-zh-cn=y
CONFIG_PACKAGE_luci-i18n-unblockmusic-zh-cn=y
CONFIG_PACKAGE_luci-i18n-upnp-zh-cn=y
CONFIG_PACKAGE_luci-i18n-usb-printer-zh-cn=y
CONFIG_PACKAGE_miniupnpd=y
CONFIG_PACKAGE_mwan3=y
CONFIG_PACKAGE_nano=y
CONFIG_PACKAGE_ntfs-3g=y
CONFIG_PACKAGE_openssl-util=y
CONFIG_PACKAGE_p910nd=y
CONFIG_PACKAGE_samba36-server=y
CONFIG_PACKAGE_smartdns=y
CONFIG_PACKAGE_trojan=y
CONFIG_PACKAGE_ttyd=y
CONFIG_boost-compile-visibility-hidden=y
CONFIG_boost-runtime-shared=y
CONFIG_boost-static-and-shared-libs=y
CONFIG_boost-variant-release=y
# CONFIG_TARGET_ath79_generic is not set
# CONFIG_TARGET_ath79_generic_DEVICE_8dev_carambola2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_aruba_ap-105 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_avm_fritz300e is not set
# CONFIG_TARGET_ath79_generic_DEVICE_avm_fritz4020 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_buffalo_bhr-4grv is not set
# CONFIG_TARGET_ath79_generic_DEVICE_buffalo_bhr-4grv2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_buffalo_wzr-hp-ag300h is not set
# CONFIG_TARGET_ath79_generic_DEVICE_buffalo_wzr-hp-g302h-a1a0 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_buffalo_wzr-hp-g450h is not set
# CONFIG_TARGET_ath79_generic_DEVICE_comfast_cf-e110n-v2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_comfast_cf-e120a-v3 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_comfast_cf-e5 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_devolo_dvl1200e is not set
# CONFIG_TARGET_ath79_generic_DEVICE_devolo_dvl1200i is not set
# CONFIG_TARGET_ath79_generic_DEVICE_devolo_dvl1750c is not set
# CONFIG_TARGET_ath79_generic_DEVICE_devolo_dvl1750e is not set
# CONFIG_TARGET_ath79_generic_DEVICE_devolo_dvl1750i is not set
# CONFIG_TARGET_ath79_generic_DEVICE_devolo_dvl1750x is not set
# CONFIG_TARGET_ath79_generic_DEVICE_dlink_dir-825-b1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_dlink_dir-825-c1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_dlink_dir-835-a1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_dlink_dir-859-a1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_elecom_wrc-1750ghbk2-i is not set
# CONFIG_TARGET_ath79_generic_DEVICE_elecom_wrc-300ghbk2-i is not set
# CONFIG_TARGET_ath79_generic_DEVICE_embeddedwireless_dorin is not set
# CONFIG_TARGET_ath79_generic_DEVICE_engenius_ecb1750 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_engenius_epg5000 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_engenius_ews511ap is not set
# CONFIG_TARGET_ath79_generic_DEVICE_etactica_eg200 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_glinet_gl-ar150 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_glinet_gl-ar300m-lite is not set
# CONFIG_TARGET_ath79_generic_DEVICE_glinet_gl-x750 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_iodata_etg3-r is not set
# CONFIG_TARGET_ath79_generic_DEVICE_iodata_wn-ac1167dgr is not set
# CONFIG_TARGET_ath79_generic_DEVICE_iodata_wn-ac1600dgr is not set
# CONFIG_TARGET_ath79_generic_DEVICE_iodata_wn-ac1600dgr2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_iodata_wn-ag300dgr is not set
# CONFIG_TARGET_ath79_generic_DEVICE_jjplus_ja76pf2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_librerouter_librerouter-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_nec_wg1200cr is not set
# CONFIG_TARGET_ath79_generic_DEVICE_nec_wg800hp is not set
# CONFIG_TARGET_ath79_generic_DEVICE_netgear_ex6400 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_netgear_ex7300 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_netgear_wndr3700 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_netgear_wndr3700v2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_netgear_wndr3800 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ocedo_koala is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ocedo_raccoon is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ocedo_ursus is not set
# CONFIG_TARGET_ath79_generic_DEVICE_openmesh_om5p-ac-v2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_pcs_cap324 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_pcs_cr3000 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_pcs_cr5000 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_phicomm_k2t is not set
# CONFIG_TARGET_ath79_generic_DEVICE_pisen_wmm003n is not set
# CONFIG_TARGET_ath79_generic_DEVICE_rosinson_wr818 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_archer-a7-v5 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_archer-c2-v3 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_archer-c25-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_archer-c5-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_archer-c58-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_archer-c59-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_archer-c6-v2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_archer-c60-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_archer-c60-v2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_archer-c60-v3 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_archer-c7-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_archer-c7-v2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_archer-c7-v4 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_archer-c7-v5 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_archer-d50-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_cpe210-v2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_cpe210-v3 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_cpe220-v3 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_re350k-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_re450-v2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wdr3500-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wdr3600-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wdr4300-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wdr4300-v1-il is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wdr4310-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wdr4900-v2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wr1043n-v5 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wr1043nd-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wr1043nd-v2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wr1043nd-v3 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wr1043nd-v4 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wr2543-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wr710n-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wr810n-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wr810n-v2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wr842n-v1 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wr842n-v2 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_tplink_tl-wr842n-v3 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_acb-isp is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_airrouter is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_bullet-m is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_bullet-m-xw is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_lap-120 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_nanobeam-ac is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_nanostation-ac is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_nanostation-ac-loco is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_nanostation-loco-m is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_nanostation-loco-m-xw is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_nanostation-m is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_nanostation-m-xw is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_picostation-m is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_rocket-m is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_routerstation is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_routerstation-pro is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_unifi is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_unifiac-lite is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_unifiac-lr is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_unifiac-mesh is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_unifiac-mesh-pro is not set
# CONFIG_TARGET_ath79_generic_DEVICE_ubnt_unifiac-pro is not set
# CONFIG_TARGET_ath79_generic_DEVICE_wd_mynet-n750 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_wd_mynet-wifi-rangeextender is not set
# CONFIG_TARGET_ath79_generic_DEVICE_winchannel_wb2000 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_xiaomi_mi-router-4q is not set
# CONFIG_TARGET_ath79_generic_DEVICE_yuncore_a770 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_yuncore_a782 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_yuncore_xd4200 is not set
# CONFIG_TARGET_ath79_generic_DEVICE_zbtlink_zbt-wd323 is not set
# CONFIG_TARGET_ath79_generic_Default is not set
# CONFIG_TARGET_ath79_nand is not set
# CONFIG_TARGET_ath79_tiny is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_ArcherC20i is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_ArcherC50v1 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_ArcherMR200 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_ai-br100 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_alfa-network_ac1200rm is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_alfa-network_r36m-e4g is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_alfa-network_tube-e4g is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_bdcom_wap2100-sk is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_bocco is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_c108 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_cf-wr800n is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_cs-qr10 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_d240 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_db-wrt01 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_dch-m225 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_dir-810l is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_dlink_dir-510l is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_dlink_dwr-116-a1 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_dlink_dwr-118-a1 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_dlink_dwr-118-a2 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_dlink_dwr-921-c1 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_dlink_dwr-921-c3 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_dlink_dwr-922-e2 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_e1700 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_edimax_br-6478ac-v2 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_ex3700-ex3800 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_gl-mt300a is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_gl-mt300n is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_gl-mt750 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_hc5661 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_hc5761 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_hc5861 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_head-weblink_hdrm200 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_iodata_wn-ac1167gr is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_iodata_wn-ac733gr3 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_kimax_u35wf is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_kn_rc is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_kn_rf is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_kng_rc is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_lava_lr-25g001 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_microwrt is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_miwifi-mini is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_mlw221 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_mlwg2 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_mt7620a is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_mt7620a_mt7530 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_mt7620a_mt7610e is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_mt7620a_v22sg is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_mzk-750dhp is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_mzk-ex300np is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_mzk-ex750np is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_na930 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_oy-0001 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_phicomm_k2g is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_psg1208 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_psg1218a is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_psg1218b is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_ravpower_wd03 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_rp-n53 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_rt-ac51u is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_rt-n12p is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_rt-n14u is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_tiny-ac is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_tplink_c2-v1 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_tplink_c20-v1 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_u25awf-h1 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_vonets_var11n-300 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_we1026-5g-16m is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_whr-1166d is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_whr-300hp2 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_whr-600d is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_wmr-300 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_wn3000rpv3 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_wrh-300cr is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_wrtnode is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_wt3020-8M is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_y1 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_y1s is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_youku-yk1 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zbt-ape522ii is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zbt-cpe102 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zbt-wa05 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zbt-we2026 is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zbt-we826-16M is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zbt-we826-32M is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zbt-wr8305rt is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zbtlink_zbt-we826-e is not set
# CONFIG_TARGET_ramips_mt7620_DEVICE_zte-q7 is not set
# CONFIG_TARGET_ramips_mt7620_Default is not set
